<%= form_for(@question,:remote => true) do |f| %>
  <% if @question.errors.any? %>
 		<% @question.errors.full_messages.each do |msg| %>
      <li class = "question-desc"><%= msg %></li>
    <%  end %>
  <% end %>
         
  <table>
    <tr>              
      <th><%= f.label(:title) %></th>
      <td><%= f.text_field(:title) %></td>
    </tr>

    <tr>
      <th><%= f.label(:description) %></th>
      <td><%= f.text_area(:description, :size => '40*10') %></td>
    </tr>

    <tr>
      <th><%= f.label (:tag_list), "Tags (separated by commas)" %></th>
      <td><%= f.text_field (:tag_list ) %></td>
    </tr>
    <tr>
     	<td colspan="2"><%= f.submit "Submit" %></td>
    </tr>
  </table>
<% end %>