<%#= link_to("Add New Question",  new_question_path, :class => 'action new') %>
<h3 class="question-heading">All Questions</h3>
<% @questions.each do |question| %>
  <table width="100%">
    <td width="80%"><li><h3><%= link_to question.title, question_path(question.id)%></h3></li>
      <div class="description" id="<%=question.id%>">
        <%= question.description.truncate(65, omission: '...(More)')%>
      </div>
      <p>Tags: <%= raw question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
           </p> 
      <% if user_signed_in? %>
        <% if policy(question).edit? %>
          <%= link_to "Edit", edit_question_path(question), :remote => true %>
          <%= link_to "Delete","", :class => "delete_question", :"data-question_id" => question.id %>
        <%end%>
      <%end%>
    </td>
    <td> <%=question.view_count%> Views</td>
    <td><%= question.answers.where(is_active: true).count %>  Answers</td>
  </table>
  <style> 
    #panel_<%=question.id%>
    {
    text-align:center;
     }
    #panel_<%=question.id%>
    {
    height: auto;
     overflow:hidden;
    }
  </style>
<% end %>