<table width="100%">
  <tr>
    <td>
      <h2><%=@question.title%></h2>
    </td>
  </tr>
  <tr>
    <td>
      <p class="question-desc"><%= @question.description %></p>
    </td>
  </tr>
</table>

<h2>Answers:</h2>

<% @question.answers.each do | answer | %>
  <% if answer.is_active == true %>
    <table width="100%" class = "question_answer_<%= answer.id%>">
     <td width="5%">
        <div class="increment" user_status=<%= current_user.present? ?  "user_available" : "user_unavilable"%> id="updatevote", data-answer_id=<%= answer.id%> > &#9650;  </div>
        <div  id="vote_answer_<%= answer.id %>"> <%= answer.vote %> </div>
        <div class="decrement" user_status=<%= current_user.present? ?  "user_available" : "user_unavilable"%> id="updatevote", data-answer_id=<%= answer.id%> > &#9660; </div>
      </td>

      <td width="80%"><p><%= answer.feedback%></p></td>
      <tr>
        <% if user_signed_in? %>
          <% if policy(answer).edit? %> 
            <td><%= link_to "Edit", edit_answer_path(answer.id),:remote => true %></td>
            <div id="answer-edit-form" style="display:none;"></div>
            <td><%= link_to 'Delete', answer_path(answer.id), :method => :delete, :remote=>true, :class=>'delete_post' %></td>
          <% end %>
        <% end %>
        <td><td></td>
          <td>
            <span style="font-size:10px; "><%= answer.created_at %> by <a class = "question-desc"> <%= answer.user.present? ?  answer.user.name  : "Anonymous"%></a>
            </span>
          </td>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>

<p class="color">Post Your Answer</p>

<%= form_for @question.answers.build, url: add_answer_questions_path(:question_id => @question.id),:remote => true do |f| %>
  <table>
    <td><%= f.text_area :feedback, size: "60*40" %></td>
    <td><%= f.submit "Submit" %></td>
  </table>
<% end %>
<br/>

<p><%= link_to 'Back to All Questions', questions_path %></p>