

<table width="100%">
 <td>
  <h1><%=@question.title%></h1>
  </td>
  <tr><td><p class="question-desc"><%= @question.description %></p></td>
   <tr> <td>
   <%if user_signed_in?%>
   <% if policy(@question).edit? %>
      <%= link_to "Edit", edit_question_path(@question.id) %>
      <%= link_to "Delete", question_path(@question.id), method: :delete %>
      <%end%>
    <%end%>
  </td></tr>
  </tr>
</table>
  
<h2>Answers:</h2>
 
 <p><%= paginate @paginatable_array %></p>

<% @question.answers.each do | answer | %>
  <% if answer.is_active == true %>  

    <table width="100%">
  	<td width="5%">
  	<div class="increment" user_status=<%= current_user.present? ?  "user_available" : "user_unavilable"%> id="updatevote", user-id=<%= current_user.present? ? current_user.id : nil %>  data-answer_id=<%= answer.id%> > &#9650;  </div>
  	<div  id="vote_answer_<%= answer.id %>"> <%= answer.vote %> </div>
    <div class="decrement" user_status=<%= current_user.present? ?  "user_available" : "user_unavilable"%> id="updatevote", user-id=<%= current_user.present? ? current_user.id : nil %>  data-answer_id=<%= answer.id%> > &#9660; </div>
    </td>

    <td width="80%"> <p><%= answer.feedback%></p> </td>

  	<tr> 
    <% if user_signed_in? %>
      <% if policy(answer).edit? %> 
        <td><%= link_to "Edit", edit_answer_path(answer.id) %></td>
        <td><%= link_to "Delete", answer_path(answer.id), method: :delete %></td>
      <% end %>
    <% end %>
  	<td> <td></td>
  	 <td>
  		<span style="font-size:10px; "><%= answer.created_at %> by <a class = "question-desc"> <%= answer.user.present? ?  answer.user.name  : "Anonymous"%></a>
      </span>
  		</td>
  		</td>
  	</tr>
    </table>
  <% end %>
<% end %>

<p class="color">Post Your Answer</p>

<%= form_for @question.answers.build, url: add_answer_questions_path(:question_id => @question.id) do |f| %>
  <%= f.text_area :feedback, size: "60*40" %>
  <%= f.submit "Submit" %>
<% end %>


<p><%= link_to 'Back', questions_path %>
  
  

<script>
$(document).ready(function(){
  $("div#updatevote").click( function() {
    var vote_action = $(this).attr('class');
  	var id = $(this).attr('data-answer_id');
    var user_status = $(this).attr('user_status');
    var id_user = $(this).attr('user-id');
    if (user_status == 'user_unavilable') {
      alert('Please Sign-in');
    } else {  
  	 $.ajax({
  	   type: 'POST',
		   url: "/questions/update_vote",
       data: {"id": id, "vote_action": vote_action, "id_user": id_user },
	 	   success: function(data){
	 		  $("#vote_answer_" + id).html(data);
       },
       error: function(data){
        alert('You have already performed this action');
       }
      });
    }
  });
});
</script>


